<<<<<<< HEAD
<<<<<<< HEAD

=======
=======
>>>>>>> 37722128378709530c226eda8ebd7d46d391f948
@import url('https://fonts.googleapis.com/css?family=Lobster|Passion+One');



.brand-logo { 
    font-family: 'Passion One';
    letter-spacing: .75px;
    font-size: 34px !important;
}

#home-carousel, .main-container {
    margin-bottom: 0;
}

.main-container {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

#car-item-1 img{
    height: 550px;

}
#car-item-2 img{
    height: 550px;
}
#car-item-3 {
    
}
#car-item-4 {
   
}


#city-name {    
    position: fixed;
    left: 20px;

    font-family: 'lobster';
    font-size: 36px;
    padding: -45px auto !important;
}



main p {
    padding: 5px;
    border: 3px solid black;
    border-radius: 5px;

    margin: 5px -5px;
}




/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
    /* The outside container goes away on the tablet/phone */
    .main-container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    /* The outside container goes away on the tablet/phone */
    .main-container {
        width: 100%;
        padding: 0px;
    }
}






/* Materialize */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
<<<<<<< HEAD
>>>>>>> 14903d88e8ab96c515d1ddc1280f1a2e8d25b7f2
=======

>>>>>>> 37722128378709530c226eda8ebd7d46d391f948
